### GITIGNORE
# (from https://github.com/github/gitignore/)

# tests coverage
output
coverage

## Environment
.env

## GOLANG

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

_output/
.vscode/
